@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { scroll-behavior: smooth; }

  * { box-sizing: border-box; }

  ::selection {
    background-color: #2D377E;
    color: #ffffff;
  }
}

@layer utilities {
  .font-cairo { font-family: var(--font-cairo), 'Cairo', sans-serif; }
}
